.dropdown-btn {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.dropdown-btn:hover {
  background-color: #45a049;
}

.dropdown-select {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}

.temperature-chart-container {
  height: fit-content;
  width: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 10% 10%;
  height: auto;
  width: 50vw;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #4caf50;
}
