.map-container {
  height: 60vh;
  width: 60vw;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 auto;
  border-radius: 1em;
  padding: 5% 5%;
}

.popup-content {
  font-size: 14px;
}
